@tailwind base;
@tailwind components;
@tailwind utilities;
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import 'ngx-toastr/toastr';
@import "../node_modules/@ng-select/ng-select/themes/default.theme.css";
@import '../node_modules/quill/dist/quill.snow.css';


::-webkit-scrollbar {
    width: 8px;
    height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 25px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #1C64F2;
    height: 4px;
    border-radius: 25px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #1C64F2;
    height: 4px;
    border-radius: 25px;
}

.required::after {
    content: ' *';
    color: red;
}